@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* * {
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
} */

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  /* background: linear-gradient(135deg, #0f0f23 0%, #1a1a2e 50%, #16213e 100%); */
  /* background: linear-gradient(135deg, #dbd1f1, #debccc); */
  background-image: linear-gradient(135deg, #eff6ff, #ffffff, #f5f3ff);
  /* color: #ffffff; */
  line-height: 1.6;
  /* overflow-x: hidden; */
  transition: background-color 0.3s ease, color 0.3s ease;
}
html.dark body {
  background: linear-gradient(135deg, #0f0f23 0%, #1a1a2e 50%, #16213e 100%);
}

.dark input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #2f2626 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important;
  -webkit-text-fill-color: #e5e7eb !important;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: #ff6b6b !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  transform: scale(1.2);
}

@media print {
  .no-print {
    display: none !important;
  }
}

/* Custom Swiper Styles for Hero */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
  margin: 0 6px !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
  transform: scale(1.2) !important;
}
